@import 'base/variables';

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/prices';
@import 'blocks/consultation';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/questions';
@import 'blocks/map';
@import 'blocks/footer';