.title {
    margin-top: 57px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2e2e2e;
    &_carousel {
        margin-top: 51px;
    }
}